input[type="text"] {
	font-size: 20px;
	text-align:center;
}

.title{
	padding-top: 100px;
	text-align: center;
	font-size: 60px;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: #336699;
}

#wrapper{
	padding-top: 100px;
	width:500px;
    margin : 0 auto ;
    text-align:left;
}